psycopg2-binary
psycopg2
APIFlask
Flask-Cors
Flask-Session
kubernetes
gunicorn
flask_mail
flask_caching
Flask-Limiter
Flask-WTF
google-api-core
google-api-python-client
google-auth
google-cloud-container
google-cloud-compute
google-cloud-core
google-cloud-bigquery
google-cloud-datacatalog
google-cloud-resource-manager
cryptography
Werkzeug
argon2-cffi==23.1.0
acryl-datahub
acryl-datahub[datahub-rest]
acryl-datahub[bigquery]